Workflows/Backup db.codermatrix.com WAWI.json
{
  "name": "Backup db.codermatrix.com WAWI",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -128
      ],
      "id": "2e75eacf-d879-4840-96c4-001a94a3dcdc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -320
      ],
      "id": "96f2c487-7bfc-4c9f-99e3-d35dcd5748b7",
      "name": "Schedule Trigger",
      "notesInFlow": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst hour = String(now.getHours()).padStart(2, '0');\nconst filename = `db_codermatrix_wawi_pulsar_${year}-${month}-${day}_${hour}.sql.gz`;\nreturn [{ json: { filename } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -208
      ],
      "id": "1f90e0bc-ad12-4fec-9790-15c0ff49c654",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "command": "=rm /backups/{{ $('Code in JavaScript').item.json.filename }}",
        "cwd": "/tmp"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        496,
        -208
      ],
      "id": "05212365-e8d6-48ac-aa7b-9ff884d28051",
      "name": "Delete Backup",
      "credentials": {
        "sshPassword": {
          "id": "sIom8516ngU0IF90",
          "name": "SSH db.codermatrix.com"
        }
      }
    },
    {
      "parameters": {
        "command": "=sudo mysqldump --databases wawi_pulsar | gzip > /backups/{{ $json[\"filename\"] }}",
        "cwd": "/backups"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        112,
        -208
      ],
      "id": "1bb5bc4c-d611-4c5b-9a9c-c98322a5f817",
      "name": "Backup DB",
      "credentials": {
        "sshPassword": {
          "id": "sIom8516ngU0IF90",
          "name": "SSH db.codermatrix.com"
        }
      }
    },
    {
      "parameters": {
        "command": "=sshpass -p 'db*MaiL22#cloUd' scp -o StrictHostKeyChecking=no root@db.codermatrix.com:/backups/{{ $('Code in JavaScript').item.json.filename }} /data/files/{{ $('Code in JavaScript').item.json.filename }}\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        -208
      ],
      "id": "4cde660f-94a1-44aa-b404-f6c2a8e6569d",
      "name": "Download DB"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Backup DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup DB": {
      "main": [
        [
          {
            "node": "Download DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download DB": {
      "main": [
        [
          {
            "node": "Delete Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "facdc0d2-6e19-4841-8938-cdec400a9f0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "802efb851dd02c3004d5a3d3ef58c267f15c8a758784c6248714bf8d05e536b5"
  },
  "id": "GfMvCt7PO1I4rOGv",
  "tags": []
}